<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/register">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>My Personal Bank</h1>
    <img src="assets/logo-banco.png"/>
  </div>

  <form id="form">
    <app-input placeholder="Correo electrónico"></app-input>
    <app-input type="password" placeholder="Contraseña"></app-input>
    <ion-button expand="block" shape="round">Ingresar</ion-button>
  </form>
</ion-content>
