<ion-content>
  <ion-card-header color="primary" class="subheader ion-no-padding" style="border-bottom-left-radius: 24px">
    <ion-title style="font-weight: 300" class="ion-text-wrap">
      <ion-grid class="fullHeight">
        <!-- Titular -->
        <ion-col size="10">
          <ion-row>
            <ion-col size="9">
              <div style="font-weight: bold; display: block; white-space: pre-wrap; font-size: 16px;">Nombre del Titular
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9">
              <div style="font-weight: bold; display: block; white-space: pre-wrap; font-size: 16px;">Correo:
                email@dominio.com</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9">
              <div style="font-weight: bold; display: block; white-space: pre-wrap; font-size: 16px;">Tipo de cliente:
                Preferencial</div>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2">
          <div style="text-align: right">
            <ion-button position="fixed" type="botton" color="primary" (click)="logout()">
              <ion-icon name="exit"></ion-icon>
            </ion-button>
          </div>
        </ion-col>


      </ion-grid>
    </ion-title>
  </ion-card-header>

  <div *ngFor="let cuenta of listas">
    <ion-card button padding>
      <ion-card-header>
        Numero de cuenta: {{cuenta.id}}
        <br>
        Tipo de cuenta: {{cuenta.tipoCuenta}}
      </ion-card-header>
      <ion-card-content>
        Saldo Disponible: {{cuenta.valor}}

        <div slot="end" style="size: 10px">
          <ion-button (click)="verDepositar(cuenta)" style="color: white" size="small">
            <ion-icon name="settings" style="color: white"></ion-icon>
          </ion-button>
          <div *ngIf="cuenta.depositar">
            <ion-item>
              <ion-label position="floating">Valor a Depositar</ion-label>
              <ion-input type="transaction-currency" #dinero></ion-input>
            </ion-item>
            <ion-item>
              <ion-button expand="block" shape="round" (click)="depositarDinero(dinero, cuenta)">
                Depositar</ion-button>
            </ion-item>
          </div>
        </div>
        <div slot="end" style="size: 10px">
          <ion-button (click)="verTransferir(cuenta)" style="color: white" size="small">
            <ion-icon name="cash" style="color: white"></ion-icon>
          </ion-button>
          <div *ngIf="cuenta.transferir">
            <ion-item>
              <ion-label position="floating">Valor a Transferir</ion-label>
              <ion-input type="transaction-currency" #dinero></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Numero de cuenta</ion-label>
              <ion-input type="transaction-currency" #numero_cuenta></ion-input>
            </ion-item>
            <ion-item>
              <ion-button expand="block" shape="round" (click)="transferirDinero(dinero, numero_cuenta, cuenta)">
                Transferir</ion-button>
            </ion-item>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
